body {
    background-image: linear-gradient(120deg, #00bdf2 0%, #004987 100%);
    height: 110vh;
    color: #fff;
    font-weight: 400;
    background-color: #fff;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

h1,
h2 {
    text-align: center;
}

h2 {
    color: #333333;
}

.container {
    width: 700px;
    margin: 0 auto;
}

#left {
    width: 50%;
    float: left;
    background: #ccffbd;
    border-top-left-radius: 5px;
}

#right {
    width: 50%;
    float: right;
    background: #7eca9c;
    border-top-right-radius: 5px;
}

.box {
    height: 400px;
    width: 300px;
    border: 1px solid #fff;
    margin: 25px;
    background-image: url("./img/pattern.png");
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}

input {
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 0px;
}

 ::-webkit-scrollbar-track {
    background: #cdcdcd;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bubble {
    width: 70%;
    margin: 10px auto;
    border-radius: 15px;
    background: #007aff;
    position: relative;
    font-size: 11px;
}

.bubble span {
    font-weight: bold;
}

.boxright {
    padding: 5px 20px 5px 5px;
    background: #007aff;
    color: #fff;
    text-align: right;
}

.boxleft {
    padding: 5px 5px 5px 20px;
    background: #e6e5ea;
    text-align: left;
    color: #000;
}

.right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #007aff;
    border-right: 15px solid transparent;
    border-top: 15px solid #007aff;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
}

.left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #e6e5ea;
    border-top: 15px solid #e6e5ea;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}